# Variables d'environnement Firebase
# Copiez ce fichier en ".env" et remplissez les valeurs avec vos clés Firebase.
# Ne commitez JAMAIS le fichier .env dans votre dépôt Git.

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_DATABASE_URL=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
